<!DOCTYPE html>
<html  ng-app ="MyCleanSolution">
<head>
    <title>Clean Coding by Arin Tahmasian</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/bootstrap/bootstrap.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="../../Content/mdb.min.css" rel="stylesheet" />
   
    <!--https://github.com/FezVrasta/bootstrap-material-design
        https://material.io/guidelines/material-design/introduction.html

        https://mdbootstrap.com/getting-started/
        -->

  
    <link rel="apple-touch-icon" sizes="57x57" href="../../Content/Favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../Content/Favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../Content/Favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../Content/Favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../Content/Favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../Content/Favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../Content/Favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../Content/Favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../Content/Favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../Content/Favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../Content/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../Content/Favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../Content/Favicon/favicon-16x16.png">
    <link rel="manifest" href="../../Content/Favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../Content/Favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



</head>
<body class="fixed-sn black-skin">
    <div ng-controller="AccountController" class="container">
        <div class="row">
            <div class="col-md-8 wow rotateInDownRight">
                <h1>Clean coding is fun!</h1>
                <h4>It's like going to the gym. Make it a habit and you will never regret :)</h4>
            </div>
            <div class="col-md-4">
                <div class="row ">
                    <div class="col-sm-4">
                        <img class="logopicture" src="../../Content/Images/arin_tahmasian100.png" />
                    </div>
                    <div class="col-sm-8 align-left">
                        <br />
                        Written by Arin Tahmasian
                        <br />
                        arin.tahmasian@gmail.com
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 fadeIn text-center">
                <br/>    
                <img src="../../Content/Images/explainSimply.jpg" class="img-responsive" />
            </div>
            <div class="col-lg-6 wow fadeInRight">
                <div id="loginCard" class="card" ng-if="activeSession.Token ==''" >
                    <h3 class="card-header primary-color white-text">Login</h3>
                    <div class="card-block">
                        <h4 class="card-title">Let's login to our test application</h4>
                        <p class="card-text">Use username: Arin and password: test for a successful login.</p>
                        <div class="row">
                            <form name="userLogin" ng-submit="login()">


                                <table id="loginTable" class="extra-margin">
                                    <tr>
                                        <td>
                                            Username:
                                        </td>
                                        <td class="cellPadding">
                                            <input id="txtUserName" type="text" ng-model="loginCredentials.Username" required value="{{loginCredentials.Username}}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Password:
                                        </td>
                                        <td class="cellPadding">
                                            <input id="txtPassword" type="password" ng-model="loginCredentials.password" required value="{{loginCredentials.password}}" />
                                        </td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="align-right">
                                            <br />
                                            <input type="submit" class="btn btn-primary" value="Login" />
                                        </td>

                                    </tr>

                                </table>
                               
                                
                                <div ng-if="error!=''" class="alert alert-danger animate-if extra-margin">
                                    <strong>Login Failed!</strong> {{error}}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div id="LoggedInCard" class="card" ng-if="activeSession.Token !=''">
                    <h3 class="card-header primary-color white-text">User is logged in!</h3>
                    <div class="card-block">
                        <h4 class="card-title">Here is your token.</h4>
                        <p class="card-text">Keep it safe :)</p>
                        <div class="row">
                            <table class="extra-margin">
                                <tr>
                                    <td>
                                        Token:
                                    </td>
                                    <td class="cellPadding">
                                        {{activeSession.Token}}<br/>
                                        <a href="javascript:void();" ng-click="ClearToken()">Clear my token</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Last time logged in: 
                                    </td>
                                    <td class="cellPadding">
                                        {{activeSession.DateLastUsed | utcToLocal:'dd.MM.yy - hh.mm a'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        User since:
                                    </td>
                                    <td class="cellPadding">
                                        {{activeSession.DateTimeInitiated | utcToLocal:'dd.MM.yy - hh.mm a'}}
                                    </td>
                                </tr>
                               

                                
                            </table>
                        </div>
                    </div>
                </div>
                <a  class="btn btn-success" href="https://github.com/arinpcssouth/CleanCoding.git"><span class="glyphicon glyphicon-download"></span> Download from Git</a>


            </div>
        </div>
        <div class="row">
            
            <br />
            <h3>Project Highlights</h3>
            <p>The following is a sample project I wrote to demonstrate the power of clean coding. This project targets software engineers in all range of expertise.</p>
            <p>Simple is beautiful. Not every project is the same so as its requirements. I will be using some annotations throughout this page to give readers an idea on where the content applies. </p>
            <br />
            <br />
            <p>You will see the follow three icons throughout this page. This will give you an idea on where I think is the proper time to use them.</p>

        </div>
        <div class="row">
            <div class="col-sm-3 "></div>
            <div class="col-sm-2 text-center"><img src="../../Content/Images/UseAlways.png" /><br/>Use it always</div>
            <div class="col-sm-2 text-center"><img src="../../Content/Images/AsNeeded.png" /><br/>Use it as needed</div>
            <div class="col-sm-2 text-center"><img src="../../Content/Images/Enterprise.png" /><br/>Suitable for enterprise applications</div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">    
            <p>
                Please note that the content in this website is simply my thoughts and opinions and the way I do coding and this project is simply a sample project to demonstrate some features and ways you can do clean coding. 
                I wrote this project in a weekend and did not have much time to complete it. Please use it in your own risk. 
                <br/><br/>
                I hope you will enjoy reviewing it as much as I did writing it :)
            </p>
            <p>Cheers,<br />Arin T.</p>
            <br/>
            <p>PS. The project is available in the following link.  </p>
            <a href="https://github.com/arinpcssouth/CleanCoding.git" >Download from Git</a>

        </div>
    </div>
    <div class="row green-bar text-center">
        <img src="../../Content/Images/Layers150.png" /><span class="titleText white-text xlarge">Multi Layers - Tier Application</span> 
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <img src="../../Content/Images/Enterprise.png" class="img-responsive" />
            </div>
            <div class="col-sm-7">
                <div class="titleText">A little bit about architectural thinking</div>
                <div><br/>Here I will try to focus on the logical layers rather than physical tiers. What you see in this demo is not a structure I would recommend for your small application. Everything comes with a cost and this is a very important factor you would need to consider when trying to scaffold your base product architecture. </div>
                <div>
                    <img src="../../Content/Images/triangle.png" class="img-responsive"/>
                </div>
                <div>As a software architect, it is very important to consider the Cost / Quality / Time triangle before writing your very first sketch diagram on the paper. </div>
            </div>
            <div class="col-sm-4">
                <img src="../../Content/Images/LayersOfApplication.png" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="row transparent-bar cover-completely">
        <img src="../../Content/Images/beach.jpg" class="cover-completely"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <img src="../../Content/Images/Enterprise.png" class="img-responsive" />
            </div>
            <div class="col-sm-7">
                <div class="titleText">Back to the project</div>
                <div>
                    <p>
                        <br />The following is a quick diagram showing how different layers of the application interact with each other. Thanks to IoC containers such as Ninject, we can take advantage of abstractions and connect different layers of the application without knowing anything about the concrete implementation of it.
                    </p>
                    <p>
                        In another word, my service layer has no idea about the concrete implementation of the Business and Repository layers. The concrete implementation can be easily switched without bothering the parent layers. 
                    </p>
                </div>
            
                <div>
                    <img src="../../Content/Images/Model.jpg" class="cover-completely" />
                </div>
            </div>
            <div class="col-sm-4 wow lightSpeedIn ">
                <img src="../../Content/Images/LayersOfApplication.png" class="img-responsive" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-7">
                <div class="titleText">Unit Testing</div>
            </div>
            <div class="col-sm-4 wow lightSpeedIn ">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img src="../../Content/Images/UseAlways.png" class="img-responsive" />
            </div>
            <div class="col-sm-7">
                <div class="titleText">Unit Tests</div>
                <div>
                    <p>
                        My recommendation is to always use unit tests for your business logic layer. However, it is important to use mock frameworks to make sure your other layers are not involved in the unit testing. Otherwise, your tests will be slow and you will start ignoring and skipping the tests overtime and it will result a poor outcome for your project.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 wow lightSpeedIn ">
                <img src="../../Content/Images/UnitTests.jpg" class="img-responsive"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img src="../../Content/Images/AsNeeded.png" class="img-responsive" />
            </div>
            <div class="col-sm-7">
                <div class="titleText">Service Layer Tests</div>
                <div>
                    <p>
                        Use them as needed. For small projects, you may not need to test every single service API. My recommendation would be to do a test on critical APIs that have significant impact on your application.
                        <br />
                        Remember the triangle and act accordingly :)
                    </p>
                </div>
            </div>
            <div class="col-sm-4 wow lightSpeedIn ">
                <img src="../../Content/Images/SvcLayerTest.jpg" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img src="../../Content/Images/Enterprise.png" class="img-responsive" />
            </div>
            <div class="col-sm-7">
                <div class="titleText">Integration Tests</div>
                <div>
                    <p>
                        For enterprise applications, these unit tests can be set to run as a night job. These tests are the most time consuming since it hits your data layer.
                        <br />
                        You would need to take extra precaution when performing this test. A recommendation would be to run the integration tests against a test database to avoid data loss and corruption.
                     </p>
                </div>
            </div>
            <div class="col-sm-4 wow lightSpeedIn ">
                <img src="../../Content/Images/IntegrationTests.jpg" class="img-responsive" />
            </div>
        </div>

    </div>


    <div class="row red-bar text-center">
        <div class="col-lg-3">
        </div>

        <div class="col-lg-3">
            <img src="../../Content/Images/Patterns.jpg" class="img-responsive" />
        </div>
        <div class="col-lg-3">
            <span class="titleText white-text xlarge">Design Pattern<br /> Highlights</span>
        </div>
        <div class="col-lg-3">
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <img src="../../Content/Images/AsNeeded.png" class="img-responsive" />
            </div>
            <div class="col-sm-7">
                <div class="titleText">Chain-Style Builder Pattern</div>
               

                <div>
                    <p>
                        In this project I was able to demonstrate Repository, Façade, Factory and Builder patterns.
                    </p>
                    <p>
                        One of the most interesting parts of my code related to patterns is the way I designed my builder pattern. It basically gives user an easy instruction on building the component by introducing the build methods one by one. 
                    </p>

                    <pre>
Package = new PackageBuilders.Active.ActivePackageBuilder()
            .AddFirstSports(new Sports { Name = "Basketball advance", TypeOfSport = "Basketball" })
            .AddSecondSports(new Sports { Name = "Football masters", TypeOfSport = "Football" })
            .AddThirdSports(new Sports { Name = "FreeStyle", TypeOfSport = "Swimming" })
            .AddMusic(new Music { Name = "Jazz is awesome!", MusicStyle = "Jazz" })
            .Build();
                    </pre>



                    <pre>
namespace BusinessConcrete.PackageBuilders.Active
{
    
    public class ActivePackageBuilder : IAddFirstSports, IAddSecondSports, IAddThirdSports, IAddMusic,  IPackageBuilder
    {
        private List&lt;IMajor&gt; Majors { get; set; }
        //funPackage.Majors = new List&lt;Model.Education.IMajor&gt;();
        public ActivePackageBuilder()
        {
            Majors = new List&lt;IMajor&gt;();
        }
        public IAddSecondSports AddFirstSports(Sports sports)
        {
            Majors.Add(sports);
            return this;
        }
        public IAddThirdSports AddSecondSports(Sports sports)
        {
            Majors.Add(sports);
            return this;
        }
        public IAddMusic AddThirdSports(Sports sports)
        {
            Majors.Add(sports);
            return this;
        }
        public IPackageBuilder AddMusic(Music music)
        {
            Majors.Add(music);
            return this;
        }
        public IPackage Build()
        {
            IPackage package = new FunPackage();
            package.Majors = this.Majors;
            return package;
        }
    }
    #region chain interfaces
    public interface IAddFirstSports
    {
        IAddSecondSports AddFirstSports(Sports sports);
    }
    public interface IAddSecondSports
    {
        IAddThirdSports AddSecondSports(Sports sports);
    }
    public interface IAddThirdSports
    {
        IAddMusic AddThirdSports(Sports sports);
    }
    public interface IAddMusic
    {
        IPackageBuilder AddMusic(Music music);
    }
    #endregion
}
                    </pre>



                </div>
            </div>
            <div class="col-sm-4 wow lightSpeedIn ">
                <img src="../../Content/Images/chainBuilder.jpg" class="img-responsive" />
            </div>
        </div>
    </div>

    <div class="row supergreen-bar text-center">
        <div class="col-lg-3">
        </div>

        <div class="col-lg-6">
            <span class="titleText white-text xlarge">Go SOLID</span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <img src="../../Content/Images/Enterprise.png" class="img-responsive" />
            </div>
            <div class="col-sm-7">
                <div class="titleText">Should I go SOLID?</div>
                <div>
                    <p>
                        SOLID principles are very important for the health of an enterprise application and it should be respected and acted upon. However, for small projects, you may be better off skipping some of the principles.  Remember the triangle!
                    </p>
                    <p>
                        In this project I tried to cover SOLID principles as much as I could. However, due to the scope of the project some of the principles could not be demonstrated. Such as LSP and ISP.
                    </p>
                    <p>
                        However, I have a very interesting trick to show you on Dependency Inversion principle. Stay tuned!
                    </p>
                </div>
                <div class="titleText"><br />Token Validation on WebAPI</div>
                <div>
                    <p>
                        Most service oriented applications function with tokens getting passed to the services. Wouldn’t it be nice to ask the client to include the token in the message header and not to pollute the main request model (parameter) with an unrelated concept?
                    </p>
                    <p>
                        There is a solution for that. You can create your own Action Filter Attribute in Web API and validate the token in the request header and reject the call before hitting the action method.
                    </p>
                    <pre>
                        
        [HttpGet]
        [ValidateToken]
        public HttpResponseMessage GetClassrooms()
        {
            var res = classroomFactory.GenerateClassrooms();
          
            return Request.CreateResponse(HttpStatusCode.OK, res);
        }
                    </pre>
                    <pre>
                        
namespace ServiceLayer.Controllers.ActionFilters
{
    //see NinjectWebCommon.cs for more details. There is a reason this empty class i shere. 
    public class ValidateTokenAttribute : ActionFilterAttribute
    {
    }
    public class ValidateTokenFilter : AbstractActionFilter
    {
        public override bool AllowMultiple { get { return true; } }
        
        
        ISession session { get; set; }
        public ValidateTokenFilter(ISession session)
        {
            this.session = session;
        }
        public override void OnActionExecuting(HttpActionContext actionContext)
        {
            string headerToken = "";
            try
            {
                headerToken = actionContext.Request.Headers.GetValues("Token").FirstOrDefault();
            }
            catch (Exception)
            {
                throw new HttpResponseException(HttpStatusCode.Unauthorized);
            }
            if(session.GetSessionByToken(headerToken).Token == new Guid())
                throw new HttpResponseException(HttpStatusCode.Unauthorized);
        }
    }
}
        </pre>

                </div>
                <div class="titleText"><br />But Wait!!! How do I take care of Dependency Injection there???</div>
                <div>
                    <p>
                        We have a big problem here. To validate the token in action filter, you would need the concrete Business Layer to be injected to the filter.
                    </p>
                    <p>
                        I encountered this problem three years ago. It was not easy but I finally found a solution to resolve the problem. Most solutions on the internet even today do not solve the problem and is very confusing. Here is how it goes…
                    </p>
                 
                </div>



            </div>
            <div class="col-sm-4 wow lightSpeedIn ">
                <img src="../../Content/Images/ActionFilters.jpg" class="img-responsive" />
            </div>
        </div>



        <div class="row">
            <div class="col-sm-1">
                
            </div>
            <div class="col-sm-7">
                <div>
                    <p>
                        You need to create an action filter that inherits from AbstractActionFilter instead of ActionFilterAttribute. Then you create an empty attribute for your token validation.
                        <br />
                        <br />
                        The magic happens in NinjectWebCommon.cs
                    </p>
                    <p>
                        By adding this line in RegisterServices method.
                    </p>
                    <pre>
    kernel.BindHttpFilter&lt;ValidateTokenFilter&gt;(FilterScope.Action).WhenActionMethodHas&lt;ValidateTokenAttribute&gt;();
                    </pre>
                    <pre>
                     
 private static void RegisterServices(IKernel kernel)
        {
            //Here you can easily switch between repository implementaitons. Thanks to Dependency inversion principle. 
            //kernel.Bind&lt;IAuthenticationRepository&gt;().To&lt;RepositoryConcrete.AuthenticationRepository&gt;();
            kernel.Bind&lt;IAuthenticationRepository&gt;().To&lt;RepositoryConcrete.InMemory.AuthenticationInMemoryRepository&gt;();
            kernel.Bind&lt;ISession&gt;().To&lt;BusinessConcrete.Session&gt;();
            kernel.Bind&lt;IClassroomFactory&gt;().To&lt;BusinessConcrete.Factories.ClassroomFactory&gt;();
            //this is to enable DI in action filters. Basically we bind the filter to an empty attribute class. 
            kernel.BindHttpFilter&lt;ValidateTokenFilter&gt;(FilterScope.Action).WhenActionMethodHas&lt;ValidateTokenAttribute&gt;();
        }
               
                </pre>
                </div>
            </div>
            <div class="col-sm-4 wow lightSpeedIn ">
                <img src="../../Content/Images/Ninject.jpg" class="img-responsive" />
            </div>
        </div>
    </div>


    <div class="row green-bar text-center">
        <div class="col-lg-3">
        </div>

        <div class="col-lg-6">
            <span class="titleText white-text xlarge">Generics</span>
            <br />
            <span class="titleText white-text">&lt; T &gt;   -  Covariance and Contravariance</span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <img src="../../Content/Images/Enterprise.png" class="img-responsive" />
            </div>
            <div class="col-sm-7">
                <div class="titleText"></div>
                <div>

                    <p>
                        My intend here is not to explain what Generics are but I want to introduce a very specific feature in generics that might come handy in some complex applications. This specific situation is when you are trying to use polymorphic behaviors in generics.

                    </p>
                    <p>
                        Let's start with an example. In our example, Teacher is derived from Staff and Staff is derived from Person.
                        <br />
                        <br />
                        In object oriented world, it is perfectly okay to pass a more derived object to a method that accepts a less derived object.

                        For example, a method that accepts a Person as a parameter. It would be perfectly okay to pass a Teacher object to that method. Since teacher is a person. However, in Generic world, the compiler seems to have some problems when trying to pass a less derived generic type parameter to the generic class. This is because the compiler wants to know the direction the generic type parameter is going to be used. This is done by adding “in” or “out” modifiers to the definition.
                    </p>
                    <p>

                        When “out” modifier is used (Covariant), the methods inside the interface are allowed to return a type that is more derived specified by the generic type parameter. Basically, the generic type parameter is used as an output here.
                        <br />
                        <br />
                        On the other hand, Contravariance “in” works in the opposite direction. When using “in” modifier you are not allowed to return a more derived type than the generic type parameter and you can only consume the more derived type inside the class but you cannot return it. Which is being used as an input parameter here.



                    <p>Note that both “out” and “in” modifiers are only allowed in delegates or interfaces. </p>

                    <p>
                        In the code below you will notice if we remove the “in” or “out” keywords from our interfaces, the test will fail.
                    </p>

            
                </div>
                <pre>
    namespace RepositoryAbstract
    {
        //in
        public interface IRegistrationWriteRepository&lt;in T&gt; 
        {
            bool Register(T person);
        }
        public interface IRegistrationReadRepository&lt;out T&gt; 
        {
            IEnumerable&lt;T&gt; GetListOf(Type personType);
            IEnumerable&lt;T&gt; GetEveryone();
        }
        public interface IRegistrationRepository&lt;T&gt; :IRegistrationReadRepository&lt;T&gt;, IRegistrationWriteRepository&lt;T&gt; 
        {
        }
    }
                </pre>
                <pre>
  public List&lt;Person&gt; GetListOf(Type personType)
        {
            return ((IRegistrationReadRepository&lt;Person&gt;)registrationRepository).GetListOf(personType).ToList();
        }
        public bool RegisterOfficeStaff(OfficeStaff officeStaff)
        {
            //can apply some logic here later to work on the officeStaffobject before sending it to repo.
            return ((IRegistrationWriteRepository&lt;OfficeStaff&gt;)registrationRepository).Register(officeStaff);
        }
        public bool RegisterTeacher(Teacher teacher)
        {
            //can apply some logic here later to work on the teacher object before sending it to repo.
            return ((IRegistrationWriteRepository&lt;Teacher&gt;)registrationRepository).Register(teacher);
        }
                </pre>


            </div>
            <div class="col-sm-4 wow lightSpeedIn ">

            </div>
        </div>
    </div>








    <div class="row green-bar text-center">
        <div class="col-lg-3">
        </div>

        <div class="col-lg-6">
            <span class="titleText white-text xlarge">UI / UX</span>
            <br/>
            <span class="titleText white-text">The Face of  Your Product</span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <img src="../../Content/Images/UseAlways.png" class="img-responsive" />
            </div>
            <div class="col-sm-7">
                <div class="titleText">Why matters?</div>
                <div>
                    <p>
                        User interface and experience considerations are as important as your back-end architecture. You can have the world’s best software product but without proper presentation, your product will simply be unusable. 
                    </p>
                </div>
                <div class="titleText">The winner of UX vs. UI is the UX. </div>
                <div>
                    <p>
                        Before going fancy, let's give the user an easy interface to operate. Minimum clicks, do things where expected and ask real users for feedback.
                        <br />
                        Don't become defensive on the feedback you get. Act on it and put yourself in users’ shoes!
                    </p>
                </div>
            </div>
            <div class="col-sm-4 wow lightSpeedIn ">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img src="../../Content/Images/AsNeeded.png" class="img-responsive" />
            </div>
            <div class="col-sm-7">
                <div class="titleText">Architect your user interface. Leverage MVVM, MVP and similar patterns</div>
                <div>
                    <p>
                        Leverage design patterns in your front-end applications. Nowadays there are thousands of ways you can present your application to the end user and is not limited to web and mobile technologies. TVs, Fridges, Cars, Watches and more…
                    </p>
                    <p>Managing and maintaining all the UI interfaces can soon become a nightmare if not handled properly.</p>
                </div>
                <div class="titleText">Angular for Web</div>
                <div>
                    <p>
                        I finished this project in about 8 hours. A small project that shows a life cycle of a clean application from end-user to the server-side. To make life easier for me, I used Angular to handle the front-end operations. I highly recommend using Andgular or a similar library to facilitate and organize your front-end development.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 wow lightSpeedIn ">
                
            </div>
        </div>

    </div>
    <div class="row gray-bar text-center">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-1">
            <img src="../../Content/Images/arin_tahmasian100.png" class="img-responsive" />
        </div>
        <div class="col-lg-5">
            <span class="titleText white-text xlarge">Thank You!</span>
            <br />
            <span class="titleText white-text">Thank you for your time reviewing my project :)</span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>



    <script src="../../Scripts/wow.min.js"></script>
    <script src="../../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/tether.min.js"></script>
    <script src="../../Scripts/mdb.min.js"></script>
    <script src="../../Scripts/Home/index.js"></script>

    <script>
    new WOW().init();
    </script>
    <noscript>Your browser does not support JavaScript! For a better experience, please enable Javascript. </noscript>

</body>
</html>
